<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="metel.salem.api.video.mapper.VideoMapper">
    <select id="selectVideoList" resultType="metel.salem.api.dto.VideoDto" parameterType="hashmap">
        SELECT c_code as cCode, vid, cat, title, refer, speaker, thumnail, vdo_url as vdoUrl,
            regdate as regDate, regid as regId, upddate as updDate, updid as updId
        FROM salem.video where 1=1
        AND c_code = #{cCode}
        <if test='cat != null and cat != ""'>
            and cat = #{cat}
        </if>
        <if test='title != null and title != ""'>
            and title like concat('%', #{title}, '%')
        </if>
        order by cCode, vid desc
    </select>

    <update id="saveVideoClip" parameterType="metel.salem.api.dto.VideoDto">
        INSERT INTO salem.video
            (c_code, vid, cat, title, refer, speaker, thumnail, vdo_url, regdate, regid, upddate, updid)
        VALUES( #{cCode}, salem.video_seq.nextval, #{cat}, #{title}, #{refer},
            #{speaker}, #{thumnail}, #{vdoUrl}, now(), #{regId}, now(), #{updId})
        ON DUPLICATE KEY UPDATE
        cat=#{cat},
        title=#{title},
        refer=#{refer},
        speaker=#{speaker},
        thumnail=#{thumnail},
        vdo_url=#{vdoUrl},
        upddate = now(),
        updid = #{updId}
    </update>

    <delete id="deleteVideoClip" parameterType="metel.salem.api.dto.VideoDto">
        delete from salem.video where c_code=#{cCode} and vid = #{vid}
    </delete>

</mapper>